.header {
    background-color: #a9e5bb;
    justify-content: center;
    justify-items: center;
  }
  
  .left {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .right {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  
  .bottom {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }